@font-face{
    font-family: "RobotoBOLD";
    src: url(fonts/Roboto-Black.ttf);
}

@font-face{
    font-family: "Roboto";
    src: url(fonts/Roboto-Light.ttf);
}

@font-face{
    font-family: "RobotoMid";
    src: url(fonts/Roboto-Medium.ttf);
}


body{
    background-color: rgb(251, 255, 236);
    font-family: Roboto;
    padding: 0px;
    margin: 0px;
}

a{
    text-decoration: none;
    color: black;
}


#openingPage{
    position: absolute;
    background-color:transparent;
    height: 700px;
    width: calc(100% - 1px);
    z-index: -2;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
#openingPage{
    background-color: rgb(251, 255, 236);
    width: 100%;
    position: fixed;
}

#HEY{
    -webkit-animation: heyfade 0.7s;
    padding-top: 20px;
    padding-bottom: 30px;
    font-family: RobotoBOLD;
    z-index: -1;
    font-size: 8vw;
    width: 100%;
    background-color: rgb(251, 255, 236);
    text-align: center;
}

#MOINAKDAS{
    -webkit-animation: imfade 1s;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: RobotoBOLD;
    z-index: -1;
    font-size: 14vw;
    width: 100%;
    background-color: rgb(251, 255, 236);
    text-align: center;
}

#NICE{
    -webkit-animation: imfade 1.5s;
    padding-top: 30px;
    padding-bottom: 20px;
    font-family: RobotoBOLD;
    z-index: -1;
    font-size: 6vw;
    width: 100%;
    background-color: rgb(251, 255, 236);
    text-align: center;
}

@-webkit-keyframes heyfade{
    0%{
        color: transparent;
    }
    33%{
        color:transparent;
    }
    100%{
        color: black;
    }
}

@-webkit-keyframes imfade{
    0%{
        color:transparent;
    }
    60%{
        color: transparent;
    }
    100%{
        color: black;
    }
}

#ME{
    content: url(images/1599442555737.png);
    width: 100%;
    z-index: -1;
}

#mottoStart{
    margin-top: 740px;
    height: 550px;
    background-color: transparent;
    overflow: hidden;
    margin-bottom: 0px;
    padding: 0px;
    display: flex;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

#box1{
    background-color: rgb(131, 211, 11);
    width: calc(100% / 3);
    height: 550px;
    display: inline-block;
    text-align: left;
    border: 1px solid rgb(251, 255, 236);
}

#box2{
    background-color: rgb(131, 211, 11);
    width: calc(100% / 3);
    height: 450px;
    margin-top: 50px;
    margin-bottom: 0px;
    display: inline-block;
    text-align: center;
    border: 1px solid rgb(251, 255, 236);
    border-bottom: 50px solid rgb(251, 255, 236);
    border-bottom:
}

#motto{
    font-family: RobotoBOLD;
    text-align: center;
    color: white;
    font-size: 5vw;
    position: absolute;
    margin-top: 275px;
    transform: translateY(-50%);

}

#endMotto{
    width: 100%;
    margin-top: 0px;
    height: 50px;
    background-color: transparent;
    overflow: hidden;
    margin-bottom: 0px;
    padding: 0px;
    display: flex;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

#blurb{
    padding-top: 50px;
    text-align: center;
    background-color: rgb(251, 255, 236);
    padding-left: 10%;
    padding-right: 10%;
    min-height: 55vw;
}

.paragraph{
    font-size: 2.3vw;
    color: black;
}

.title{
    font-family: RobotoBOLD; 
    font-size: 5vw; 
    color: black;
}

.button{
    background-color: rgb(29, 29, 29);
    font-family: Roboto;
    color: white;
    border-radius: 3vw;
    font-size: 2.3vw;
    padding: 10px;
    padding-left: 2vw;
    padding-right: 2vw;
}

.button:hover{
    background-color: greenyellow;
    color:black;
}

.GAHS{
    /* The image used */
    background-image: url("images/GAHS_team.jpg");

    /* Set a specific height */
    min-height: 170vw; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: 100% 0%;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.SHS{
    /* The image used */
    background-image: url("images/StuyStrums.jpg");

    /* Set a specific height */
    min-height: 170vw; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: 10% 0%;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.filter{
    position: absolute;
    background-color: black;
    opacity: 60%;
    width: 100%;
    height: 170vw;
}

.text{
    position: absolute;
}