@font-face{
    font-family: "RobotoBOLD";
    src: url(fonts/Roboto-Black.ttf);
}

@font-face{
    font-family: "Roboto";
    src: url(fonts/Roboto-Light.ttf);
}

@font-face{
    font-family: "RobotoMid";
    src: url(fonts/Roboto-Medium.ttf);
}

body{
    background-color: #413C69;
    font-family: Roboto;
    padding: 0px;
    margin: 0px;
    text-align:center;
}

#chatBotBox{
    position: absolute;
    margin-top: 5vw;
    text-align: center;
    color: white;
    line-height: 3vw;
    font-size: 2vw;
    background-color: #4A47A3;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    height: 3vw;
    border-top-left-radius: 2vw;
    border-top-right-radius: 2vw;
}

#textBox{
    position: absolute;
    margin-top: 8vw;
    color: white;
    line-height: 3vw;
    font-size: 2vw;
    background-color: #282744;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    height: 500px;
    overflow-y: scroll;
}

#inputLayer{
    position: absolute;
    margin-top: calc(8vw + 500px);
    color: white;
    font-size: 2vw;
    background-color: #4A47A3;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    /*height: 100px;*/
    border-bottom-left-radius: 2vw;
    border-bottom-right-radius: 2vw;
    text-align: left;
}

#textInput{
    width: 70%;
    text-align: left;
    height: 30px;
    padding-top:5px;
    padding-bottom:5px;
    padding-right: 15px;
    padding-left: 15px;
    overflow-y: scroll;
    background-color: #282744;
    border: #282744 2px solid;
    border-radius: 10px;
    margin: 20px;
    color: white;
}

#submit{
    height: 45px;
    padding-top:5px;
    padding-bottom:5px;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 16px;
    background-color: #709fB0;
    border: #709fB0 2px solid;
    border-radius: 10px;
    width: 15%;
    margin: 20px;
    text-align: center;
    color: white;
}

.botChat{
    background-color: #A7C5EB;
    min-height: 20px;
    float: left;
    position: relative;
    margin: 10px;
    border-radius: 10px;
    font-size: 16px;
    padding: 5px;
    padding-left:20px;
    padding-right:20px;
    color: black;
    display: block;
    max-width: 60%;
    text-align: left;
    line-height: 30px;
}

.youChat{
    background-color: #709fB0;
    min-height: 10px;
    float: right;
    position: relative;
    margin: 10px;
    border-radius: 10px;
    font-size: 16px;
    padding: 5px;
    padding-left:20px;
    padding-right:20px;
    display: block;
    max-width: 60%;
    text-align: left;
    line-height: 30px;
    
}

.breaker{
    margin-top: 20px;
    margin-bottom: -20px;
    background-color: #282744;
    width: 100%;
    height: 1px;
}