@font-face{
    font-family: "PTSans";
    src: url(fonts/PTSans-Regular.ttf);
}

@font-face{
    font-family: "PTSansBOLD";
    src: url(fonts/PTSans-Bold.ttf);
}

@font-face {
    font-family: "PTSansITALIC";
    src: url(fonts/PTSans-Italic.ttf);
}

@font-face{
    font-family: "Lora";
    src: url(fonts/Lora-VariableFont_wght.ttf);
}

body{
    background-color: #15161b;
    font-family: PTSans;
    color: rgb(231, 231, 231);
    padding: 0px;
    margin: 0px;
    overflow-x:hidden;
    letter-spacing: 0.01em;
}

a{
    text-decoration: none; 
    color: #f6f8fd;
}

@-webkit-keyframes heyfade{
    0%{
        color: transparent;
    }
    33%{
        color:transparent;
    }
    100%{
        color: #f6f8fd;
    }
}

@-webkit-keyframes imfade{
    0%{
        color:transparent;
    }
    60%{
        color: transparent;
    }
    100%{
        color: #f6f8fd;
    }
}

#openingPage{
    position: relative;
    background-color:#15161b;
    height: 700px;
    width: calc(100% - 1px);
    z-index: 1;
}

#bottomDiv{
    content: url(images/bottomDiv1.png);
    position: absolute;
    top: 10%;
    left: 0px;
    width: calc(100% - 1px);
    min-width: 1200px;
    height: calc(90% - 1px);
    z-index: -1;
}

#me{
    content: url(images/me_transparent.png);
    position: absolute;
    top: 10px;
    left: 60%;
    width: 400px;
    z-index: -2;
}

#HEY{
    -webkit-animation: heyfade 2s;
    position: absolute;
    top: 70px;
    left: 60px;
    font-size: 55px;
    font-family: PTSansBOLD;
    z-index: -1;
}

#IM{
    -webkit-animation: imfade 2s;
    position: absolute;
    top: 70px;
    left: 200px;
    font-size: 55px;
    overflow: hidden;
    font-family: PTSansBOLD;
    z-index: -1;
}

#MOINAKDAS{
    -webkit-animation: imfade 3s;
    position: absolute;
    top: 120px;
    left: 58px;
    font-size: 100px;
    font-family: PTSansBOLD;
    z-index: -1;
    overflow: hidden;
}

#NICE{
    -webkit-animation: imfade 4s;
    position: absolute;
    top: 285px;
    left: 60px;
    font-size: 30px;
    font-family: PTSansBOLD;
    z-index: -1;
    
}

#links{
    position: absolute;
    padding: 20px;
    width: 1200px;
    height: 200px;
    top: 450px;
}

.plus{
    position: absolute;
    content:url(images/plus.png);
    width: 20px;
    height: 20px;
    margin-left: 8px;
    
}
#nextArrow{
    content:url(images/arrow-down.png);
    width:20px;
    margin-left:30px;
    margin-right:30px;
}



.openingButton{
    white-space: nowrap;
    position: relative;
    font-size: 16px;
    background-color: #15161b;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 45px;
    padding-left: 20px;
    border-radius: 25px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.nextText{
    position: absolute;
    letter-spacing: 0.02em;
    left:calc(50% - 173px);
    top: 670px;
}

#AboutMeTitle{
    font-family: Lora;
    font-weight: 200;
    font-size: 45px;
    letter-spacing: 0.02em;
}

#phoneScreen{
    position: absolute;
    content: url(images/iphoneWallpaper.png);
    height: 780px;
    top: 60px;
    left: 950px
}

#arduino{
    position: absolute;
    content: url(images/arduino.png);
    height: 350px;
    top: 1260px;
    left: -100px;
}

#testimonial{
    width: 80%;
    max-width: 600px; 
    margin-top:0px;
    letter-spacing:0.02em;
    font-size: 14px;
    line-height:1.75; 
    font-family: PTSansITALIC;
}

#parallax{
    background-image: url(images/keyboard.png);
    position: absolute;
    margin-left: -40px;
    margin-top: 180px;
    height: 160px;
    width:100%;
    background-color: #4973ff;
    border: none;
    z-index: -1;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#teamGAHS{
    position: absolute;
    width:100%;
    background-image: url(images/GAHS_team.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 740px;
}